{% trans_default_domain 'FOSUserBundle' %}

<section class="col-12">
    <div class="box_secondary col-md-7 col-lg-4 box_center mt-5">
        {% if error %}
            <div>
                <p class="text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form_login">
            <div class="form-group" >
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" placeholder="Password">
            </div>

            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" />
                <label for="remember_me" class="custom-control-label">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div class="dropdown-divider"></div>
            <button type="submit" class="btn btn-primary btn-block" id="_submit" name="_submit">
                {{ 'security.login.submit'|trans }}
            </button>

            <div class="form-group mt-4">
                <p class="text-center">¿No tienes una cuenta? <a href="{{ path('fos_user_registration_register') }}" id="signup">Crea una ahora</a></p>
            </div>
        </form>

    </div>
</section>


