{% trans_default_domain 'FOSUserBundle' %}
<div class="col-12">

    <div class="col-5 p-4 box_secondary box_center">
        <h3 class="text-muted mb-5">Registro</h3>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-success btn-block" value="{{ 'registration.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>

    <div class="col-5 p-4 mt-4 box_secondary box_center text-center">
        <span>¿Ya estás registrado? <a href="{{ path('fos_user_security_login') }}">Inicia sesión</a></span>
    </div>
</div>


