{% extends 'base.html.twig' %}

{% block body %}
    {% set ruta = app.request.get('_route') %}
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    DE<span class="font-weight-bold">RISAS</span>
                    <i class="fa fa-grin-squint-tears"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if ruta == 'homepage' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('homepage') }}">Inicio</a>
                        </li>
                        <li class="nav-item {% if ruta == 'list_users' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('list_users') }}">Usuarios</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <button class="btn btn-link">
                        <i class="fa fa-search text-muted"></i>
                    </button>
                    {% if app.user %}
                        <a class="btn btn-light btn-sm btn_border_primary" href="{{ path('new_post') }}">Nuevo post</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-light dropdown-toggle btn-sm btn_user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-chess-knight"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <span class="display_username">{{ app.user.username }}</span>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-power-off"></i>
                                    Salir
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <a class="btn btn-light btn-sm btn_border" href="{{ path('fos_user_security_login') }}">Entrar</a>
                        <a class="btn btn-info btn-sm btn_register" href="{{ path('fos_user_registration_register') }}">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}
    <div class="container">
        <div class="nav_blank"></div>
        {% if app.session.flashBag.has('estado') %}
            {% set mensajes = app.session.flashBag.get('estado') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-success alert-dismissible mt-2">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            {% set mensajes = app.session.flashBag.get('error') %}
            {% for mensaje in mensajes %}
                <div class="alert alert-danger alert-dismissible mt-2">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endif %}
        <section class="mb-5">
        {% block content %}{% endblock %}
        </section>
    </div>
{% endblock %}
