{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tagsinput.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/tagsinput.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="mt-5"></div>

    <div class="container row">
        <section class="col col-md-8">
            <h1 class="well well-sm">
                {% if post.id %}
                    Modificar Post {{ post }}
                {% else %}
                    Nuevo Post
                {% endif %}
            </h1>

            {{ form_start(formulario) }}

            {{ form_row(formulario.title) }}
            {{ form_row(formulario.post) }}
            {{ form_row(formulario.slug) }}

            <small id="emailHelp" class="form-text text-muted">Separa las etiquetas con comas.</small>

            <div class="form-group mt-4">
                <button type="submit" name="enviar" class="btn btn-info">
                    Enviar a revisión
                </button>
                <a href="{{ path('homepage') }}" class="btn btn-light">
                    Cancelar
                </a>
            </div>
            {{ form_end(formulario) }}
        </section>
        <aside class="col">
            <div class="box_secondary">
                <h6>
                    <small class="font-weight-bold">MEMO AL AUTOR</small>
                </h6>
                <div class="dropdown-divider"></div>
                <div class="row memo_post">
                    <h1 class="text-right">
                        <i class="fa fa-check-circle col"></i>
                    </h1>
                    <p class="col-9 text-left">La publicación no debe violar las reglas del sitio web.</p>
                </div>
                <div class="row memo_post">
                    <h1 class="text-right">
                        <i class="fa fa-file-alt col"></i>
                    </h1>
                    <p class="col-9 text-left">Trate de diseñar sus publicaciones de una manera que los haga cómodos de leer.
                    Por favor, lea nuestros consejos para editar publicaciones y ayuda con Markdown.</p>
                </div>
                <div class="row memo_post">
                    <h1 class="text-right">
                        <i class="far fa-image col"></i>
                    </h1>
                    <p class="col-9 text-left">Sube imágenes al servidor si es necesario.</p>
                </div>
                <div class="row memo_post">
                    <h1 class="text-right">
                        <i class="fa fa-database col"></i>
                    </h1>
                    <p class="col-9 text-left">No inserte imágenes grandes (> 1 MB).</p>
                </div>
                <div class="row memo_post">
                    <h1 class="text-right">
                        <i class="far fa-file-code col"></i>
                    </h1>
                    <p class="col-9 text-left">No saturemos el servidor. También podemos
                    insertar directamente la URL de la imagen</p>
                </div>

            </div>
        </aside>
    </div>




{% endblock %}
